/*
 Theme Name:   Eduma Child
 Theme URI:    http://educationwp.thimpress.com/
 Description:  Eduma Child Theme
 Author:       ThimPress
 Author URI:   http://thimpress.com
 Template:     eduma
 Version:      1.0.0
 Text Domain:  eduma-child
*/

/* NOTE: Clases para ocultar y mostrar pseudoelementos */
.visible-academy{
  display: block;
}
.invisible-academy{
  display: none;
}

/* NOTE: Style de los textos, igual que capture the atlas */
/* h1, h2, h3, h4, h5, h6{
  font-family: 'Oswald', sans-serif !important;
  line-height: 25px !important;
} */
/* p, li{
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #404040;
} */

.thim-widget-courses-searching .search-course-title {
    color: #1ABC9C;
    /* font-family: 'Oswald', sans-serif; */
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    line-height: 24px;
}

.thim-widget-courses-searching .search-course-description {
    color: #1ABC9C;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    line-height: 24px;
}

.search-course-list-info li a {
    color: #78BCAF;
}

.search-course-list-info li i {
    color: #FFFFFF !important;
}

.display-percentage {
    color: #1ABC9C !important;
}

.navbar-nav li.tc-menu-layout-builder .sub-menu .widget-title{
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
  text-align: left;
  font-family: 'Oswald', sans-serif;
}

.navbar-nav li:hover>.sub-menu li a{
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.thim-course-megamenu .course-title{
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-transform: none;
  line-height: 24px;
  margin: 0;
}

.thim-course-grid .course-item .thim-course-content .course-title{
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.search-course-list-info{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.thim-course-megamenu .course-readmore{
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
}

.thim-owl-carousel-post .title{
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.thim-course-grid .course-item .thim-course-content .course-author .value{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px;
}

.thim-widget-courses .view-all-courses{
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  font-weight: 700;
}

.thim-carousel-course-categories .item .title{
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.thim-testimonial-slider .title{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.thim-testimonial-slider .regency{
  font-family: 'Open Sans', sans-serif;
  line-height: 24px;
  font-size: 16px;
  font-weight: 400;
}

.thim-testimonial-slider .description{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.thim-newlleter-homepage p{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.mc4wp-form-fields{
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

form .mc4wp-form-fields input[type="submit"]{
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

footer#colophon .footer .widget-title{
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

footer#colophon .footer a{
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 24px;
}

footer#colophon .copyright-area .text-copyright{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}

footer#colophon .copyright-area ul li a{
  line-height: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 15px;
}

/* CAMBIAR A SPAN CON SU CLASE, PARA QUE NO SEA GENÉRICO */
/* span{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
} */

article.lp_course h1.entry-title{
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  line-height: 24px;
}

.learn-press .course-meta label{
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}

.meta-left .index{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px !important;
  line-height: 24px;
  margin-right: 6px;
}

/* #learn-press-course-curriculum ul.curriculum-sections .section-content .course-item .meta-left .course-item-title{ */
.lesson-title.course-item-title.button-load-item{
  /*font-family: 'Oswald', sans-serif;/*/
      font-family: 'Open Sans';
  font-weight: 400 !important;
  font-size: 15px !important;
  line-height: 24px !important;
}

/* Ocultar icono de tipo de lección */
#learn-press-course-curriculum ul.curriculum-sections .section-content .course-item .course-format-icon{
  display: none !important;
}

/* Sidebar del single curso */
.widget-area aside.widget .widget-title{
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  font-size: 21px;
  line-height: 24px;
}

.widget-area aside.widget ul li a{
  font-family: 'Open Sans', sans-serif;
}

.widget-area .thim-course-list-sidebar .thim-course-content .course-title{
  font-family: 'Open Sans', sans-serif;
}

/* Tab inferior */
.thim-course-menu-landing .thim-course-landing-tab li{
  font-family: 'Open Sans', sans-serif;
}

.learnpress-page .lp-button:hover, .learnpress-page #lp-button:hover{
  font-family: 'Oswald', sans-serif;
}

.thim-course-menu-landing .thim-course-landing-button .course-price .value.free-course{
  font-family: 'Oswald', sans-serif;
}

.learn-press .course-meta .value{
  font-size: 16px;
  line-height: 24px !important;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
}

.learn-press .course-payment .course-price .value.free-course{
  font-family: 'Oswald', sans-serif;
}

/* botón continuar */
.lp-button{
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
/* botón continuar hover */
.lp-button:hover{
  color: #ffffff;
  background-color: #1abc9c !important;
}

/* quitar el recuadro del vídeo de cabecera */
.course-thumbnail .media-intro{
  border-color: #ffffff !important;
}

/* Quitar el recuadro del interior del instructor del tab instructor */
.thim-about-author{
  padding: 0px 0px 0px 0px;
  border: 0px;
}

/* Aumentar el tamaño del texto del nombre del instructor del curso dentro del tab instructor */
.author-top a.name{
  font-size: 22px !important;
}
/* Botón comprar este curso */
.learn-press .thim-enroll-course-button{
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 16px !important;
  line-height: 24px;
  color: #ffffff !important;
}
/* Botón comprar este curso hover */
.learn-press .thim-enroll-course-button:hover{
  color: #ffffff !important;
  background-color: #1abc9c !important;
}

#learn-press-course-curriculum ul.curriculum-sections .section-header{
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

.course-item-nav .course-content-lesson-nav a{
  font-family: 'Open Sans', sans-serif;
}

/* Evitar que PREV Y NEXT (ANTERIOR / SIGUIENTE) salten al renglón inferior */
.course-item-nav .course-content-lesson-nav{
  max-width: 45% !important;
}

/* NOTE: Style de los textos, igual que capture the atlas MOVIL */
.mobile-menu-container ul li > a{
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

/* NOTE: Style del transcurso del curso */
body.course-item-popup #learn-press-content-item .content-item-wrap .learn-press-content-protected-message{
  font-family: 'Open Sans', sans-serif;
}
/* Ocultar buscador de lecciones */
#course-item-content-header{
	display: none;
}
/* Bajar menú de la web */
.top_heading_out{
	/* margin-top: 28px; */
  margin-top: 55px;
}
/* Bajar menú de lecciones */
body.course-item-popup .lp-single-course #course-curriculum-popup{
	margin-top: -19px;
}
/* Bajar contenido del curso */
body.course-item-popup div#learn-press-content-item{
	margin-top: -19px;
}

/* Centrar tíulo del módulo */
#learn-press-course-curriculum ul.curriculum-sections .section-content .course-item a.course-item-title{
  /* text-align: center; */
  text-align: left;
}
/* Ocutar el label (lección) del menú del curso */
#learn-press-course-curriculum ul.curriculum-sections .section-content .course-item .label {
  display: none !important;
}
/* Cambiar espacio entre el número y el texto de la lección */
#learn-press-course-curriculum ul.curriculum-sections .section-content .course-item .meta-left{
  min-width: 30px;
  width: 30px;
}
/* Aumentar tamaño del nombre del instructor */
/* .learn-press .course-meta>div.course-author .value a{
  font-size: 25px;
} */

/* Aumentar espacio entre la zona del vídeo y el título de la lección */
.course-item-title{
  margin-top: 5%;
  margin-bottom: 4%;
  text-transform: capitalize;
  color: #404040;
}
/* Justificar texto del contenido de la lección */
.content-item-description p{
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #404040;
  text-align: justify;
}
/* Color de los enlaces/links dentro de la lección */
/* CAMBIAR A a CON SU CLASE, PARA QUE NO SEA GENÉRICO */
.content-item-description p a, .content-item-description ul li a{
  color: #1abc9c !important;
  font-family: 'Open Sans', sans-serif;
}
.content-item-description p a:hover, .content-item-description ul li a:hover{
  color: #c7c7c7. !important;
}
/* Color de ANTERIOR/SIGUIENTE PREV/NEXT */
.course-content-lesson-nav span{
  color: #1abc9c;
}
/* Color del nombre de la lección anterior y siguiente */
/* CAMBIAR A a CON SU CLASE, PARA QUE NO SEA GENÉRICO */
.course-content-lesson-nav a{
 color: #1abc9c !important;
 text-decoration: none;
}
.course-content-lesson-nav a:hover{
  color: #aaaaaa;
  text-decoration: none !important;
}

/* Formulario ¿ALGUNA PREGUNTA? interior de las lecciones */
#respond.comment-respond .comment-reply-title{
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  color: #404040;
}
/* Texto de conectado como... */
.logged-in-as{
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #404040;
}
.logged-in-as:hover{
  color: #aaaaaa;
}

/* NOTE: Style interior de curriculum tab */
.course-wishlist-box{
  display: none;
}

/* NOTE: Style interior reviews tab */
/* Títulos de los tabs */
.learn-press .course-tabs .nav-tabs li a span{
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  font-style: normal;
  color: #404040;
  text-transform: uppercase;
}
/* iciono */
.learn-press .course-tabs .nav-tabs li a i{
  color: #404040;
}
/* Títulos de los tabs seleccionados */
.learn-press .course-tabs .nav-tabs li.active a span{
  color: #1ABC9C;
}
/* icono seleccionado */
.learn-press .course-tabs .nav-tabs li.active a i{
  color: #1ABC9C !important;
}
/* Sección instructor */
.thim-about-author .author-bio .name{
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
}
.thim-about-author .author-description{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-style: normal;
  line-height: 24px;
  color: #404040;
  text-align: justify;
}
/* Título reviews */
.course-rating h3,
.rating-title,
.review-amount,
.key{
  color: #404040 !important;
}

/* Tab seleccionado */
/* li.active a i{
  color: #1ABC9C
} */
/* li.active a cambiar color siemre a #404040*/
/* li.active a i{
  /* color: #1ABC9C !important;
} */
/* CAMBIAR A i CON SU CLASE, PARA QUE NO SEA GENÉRICO */
/*li a i {
  color: #404040 !important;
}
li a span {
  color: #404040;
}*/
/* fondo de tabs VUELTA A COMO ESTABA ANTES EN MOD 22-04-2021 */
/* .learn-press .course-tabs .nav-tabs li.active a{
  background: #404040 !important;
} */
/* Ocultar compartir en redes sociales */
.thim-social-share{
  display: none;
}
/* Quitar la palabra review del interior del tab de reviews */
.course-rating h3{
  display: none;
}

/* Color del tic completado */
.course-curriculum ul.curriculum-sections .section-content .course-item.has-status.status-completed .course-item-status{
  background-color: #1ABC9C;
}

/* Visualización del botón "publicar comentario" */
body.course-item-popup #learn-press-content-item .content-item-wrap{
  padding-bottom: 90px;
}

input[type=submit]{
  font-family: 'Oswald', sans-serif;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 24px !important;
}

/* Quitar recuadros de promedio y evaluación detallada */
#tab-reviews .course-rating .rating-box{
  border: 0px;
}
/* Ocultar texto encima de los detalles de las reviews */
.detailed-rating p {
  display: none;
}
/* Diseño del texto encima del número grande de reviews */
.average-rating p{
  font-family: 'Oswald', sans-serif !important;
  line-height: 25px !important;
  text-transform: uppercase;
  color: #404040 !important;
  font-weight: 700;
  font-size: 25px;
}
/* Texto "DEJAR UNA OPINIÓN" */
.add-review h3.title{
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  line-height: 24px !important;
  color: #404040 !important;
}
/* Texto del formulario "DEJAR UNA OPINIÓN" */
.add-review p.description{
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #404040 !important;
}
/* Texto de los campos "DEJAR UNA OPINIÓN" */
#tab-reviews .add-review form label{
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
}
/* Textos label */
.add-review form div label{
  color: #404040 !important;
}
/* Botón del formulario enviar opinión dentro de reviews */
#tab-reviews .add-review form button[type="submit"]{
  font-size: 16px;
  font-weight: 400;
}

/* NOTE: Style tab detalles/overview */
.course-description{
  display: flex;
  flex-direction: column;
}
.course-description > * {
  order: 0;
}
.caja1 {
  order: 2;
  width: 100% !important;
  margin-top: 4%;
  border-right: 0px !important;
  padding-right: 0px !important;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #404040;
}
.caja2 {
  order: 1;
  width: 100% !important;
  padding-left: 0px !important;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #404040;
  margin-top: -20px;
}
.caja2 h3{
  display: none;
}

ul.col3 {
  padding-right: 0px;
  padding-left: 0px;
  float: left;
  padding-bottom: 0px;
  margin-left: 15px, 0px;
  width: 100%;
  padding-top: 0px;
  list-style-type: none;
}
ul.col3 li{
  padding-right: 2px;
  display: inline;
  padding-left: 2px;
  float: left;
  padding-bottom: 2px;
  width: 33%;
  padding-top: 2px;
}

.lectures-feature span.label,
.duration-feature span.label,
.skill-feature span.label{
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.lectures-feature span.value,
.duration-feature span.value,
.skill-feature span.value{
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.quizzes-feature,
.language-feature,
.students-feature,
.assessments-feature {
  display: none !important;
}

.thim-course-info ul li span {
  display: contents !important;
}

.lectures-feature {
  text-align: left;
}
.duration-feature {
  text-align: center;
}
.skill-feature {
  text-align: right;
}

/* NOTE: Style tabs contenido */
/* Posición del tic lección completada */
#learn-press-course-curriculum ul.curriculum-sections .section-content .course-item .course-item-meta{
  vertical-align: inherit !important;
  margin: 0 0 0 155px;
}

/* NOTE: Style flechas siguiente anterior */
/* .course-item-prev{
  margin-top: -3.1%;
  margin-left: 4.6%;
} */
/* .course-item-nav:before{
  content: '';
  background-image: url("/wp-content/themes/eduma-child/img/fle_izqxs.png");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  display: block;
} */
.course-item-nav.no-before:before{
  display: none;
}
.course-item-next.sin-before{
  margin-top: 0%;
}
/* .course-item-nav.recalcular-after:after{
  content: '';
  background-image: url("/wp-content/themes/eduma-child/img/fle_derxs.png");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  display: block;
  margin-left: 97%;
  margin-top: 0.2%;
} */
.course-item-nav.no-after:after{
  display: none;
}

/* .course-item-next{
  margin-right: 3.8%;
  margin-top: -3.5%;
} */
/* .course-item-nav:after{
  content: '';
  background-image: url("/wp-content/themes/eduma-child/img/fle_derxs.png");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  display: block;
  margin-left: 97%;
  margin-top: -3.1%;
} */
/* .course-item-nav .course-item-next::before{
  content: '';
  background-image: url("/wp-content/themes/eduma-child/img/fle_derxs.png");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  display: block;
} */
.course-item-nav .course-content-lesson-nav span{
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

/* NOTE: Style social */
.thim-social a .fa {
    display: block;
    line-height: 50px;
}

.thim-social a {
    font-size: 27px;
    width: 50px;
    height: 50px;
}

footer#colophon .footer .thim-footer-location .social a,
.thim-social li a {
    background-color: #1ABC9C;
}

.thim-author-social li a:hover {
    background: #305891;
    color: #fff;
}

.thim-author-social li a.facebook {
    color: #3b5998;
    border-color: #3b5998;
}

.thim-author-social li a.facebook:hover {
    background: #239D85;
    color: #CFCFCF;
}

.thim-author-social li a.instagram {
    color: #3b5998;
    border-color: #3b5998;
}

.thim-author-social li a.instagram:hover {
    background: #239D85;
    color: #CFCFCF;
}

.thim-author-social li a.twitter {
    color: #00aced;
    border-color: #00aced;
}

.thim-author-social li a.twitter:hover {
    background: #239D85;
    color: #CFCFCF;
}

.thim-author-social li a.google-plus {
    color: #dd4b39;
    border-color: #dd4b39;
}

.thim-author-social li a.google-plus:hover {
    background: #239D85;
    color: #CFCFCF;
}

.thim-author-social li a.youtube {
    color: #bb0000;
    border-color: #bb0000;
}

.thim-author-social li a.youtube:hover {
    background: #239D85;
    color: #CFCFCF;
}

.thim-author-social li a.linkedin {
    color: #007bb5;
    border-color: #007bb5
}

.thim-author-social li a.linkedin:hover {
    background: #239D85;
    color: #CFCFCF;
}

.visibilidad-widget-instructor {
    display: none;
}

/* NOTE: Style pagina 404 */

a {
    color: #1ABC9C;
}

a .link_index {
    color: #1ABC9C;
}

a .link_index:visited,
a .link_index:focus {
    color: #1ABC9C;
}


/* NOTE: Style contacto */

.vc_row.wpb_row {
    margin-bottom: 0px;
}

/* NOTE: Implementación Styles Capture The Atlas */
.course-title{
  color: #1abc9c;
  font-family: "Open Sans", sans-serif;
}

.sc_heading .title{
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  font-size: 30px;
}

.thim-contact-faqs h4{
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  font-size: 30px;
}

.sc_heading .sub-heading{
  color: #404040;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px
}

.heading__primary{
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  line-height: 24px
}

.vc_tta-container[data-vc-action*="collapse"] > h2{
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  font-size: 22px;
}

.vc_tta-color-grey.vc_tta-style-classic .vc_tta-panel .vc_tta-panel-title>a{
  font-family: 'Oswald', sans-serif;
  font-weight: normal;
  font-size: 16px;
}

.top_site_main .page-title-wrapper h1, .top_site_main .page-title-wrapper h2{
  line-height: 44px !important;
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 700;
  padding-left: 25px;
  position: relative;
  color: #1abc9c;
  font-family: 'Oswald', sans-serif;
}

.navigation .width-navigation .navbar-nav > li > a{
  font-size: 1.6rem !important;
  line-height: 1.7143;
  font-family: 'Oswald', Arial, sans-serif;
  font-weight: 400 !important;
}

/* NOTE: Style plegar contenido de las lecciones al ver el curso */
/* .section-content {
  display: none;
} */

/* NOTE: Style Ocultar tiempo del curso */
.message.message-warning, .learn-press .message.message-warning{
  display: none;
}

/* NOTE: Style Título del curso en el desarrollo del curso */
body.course-item-popup #learn-press-course-curriculum .learn-press-breadcrumb .item-name{
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  color: #1ABC9C;
}

/* NOTE: Style Ocultar migas de pan en el curso */
.learn-press-breadcrumb a,
.learn-press-breadcrumb i{
  display: none !important;
}

/* NOTE: Style Color de fondo de la lección seleccionada */
#learn-press-course-curriculum ul.curriculum-sections .section-content .course-item.current, #learn-press-course-curriculum ul.curriculum-sections .section-content .course-item.item-current{
  background-color: #d3f5ee !important;
}

/* NOTE: Style chevron */
/* #learn-press-course-curriculum ul.curriculum-sections .section-header.abierto .collapse:before{ */
.section-header.abierto .collapse:before{
  content: '\f077' !important;
}
/* #learn-press-course-curriculum ul.curriculum-sections .section-header.cerrado .collapse:before{ */
.section-header.cerrado .collapse:before{
  content: '\f078' !important;
}

#learn-press-course-curriculum ul.curriculum-sections .section-content.cerrado{
  display: none;
}


/* NOTE: Style menu header media */
/* @media (min-width: 1024px) {
  #main-content{
    margin-top: -1.7%;
  }
} */
.question-title{
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 30px;
}

/* Botón de formulario */
button{
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}

/* Titulo del curso en la navegación de módulos */
.thim-font-heading.learn-press-breadcrumb .item-name a h4{
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 24px;
  color: #404040;
}
/* .item-name a h4{
  color: #404040;
} */
.item-name a{
  display: block !important;
}

/* NOTE: Style cabecera */

#masthead {
    /* head parte menú */
    background-color: #404040;
}

#magic-line {
    background-color: #1ABC9C !important;
    margin-bottom: 10px;
}

#main-content{
  /* margin-top: -3%; */
  margin-top: -2px;
}
/* cuando estamos en la navegación de módulos */
.lessons_admin_bar{

}

.content-pusher{
  padding-top: 18px !important;
}
.site-header .thim-nav-wrapper .row{
  margin-top: 13px;
}
.tm-table{
  margin-top: -26px;
}
/* Barra del menú - Modificaciones */
.site-header{
  top: 0px;
  height: 7.1rem;
}

/* Ocultar lupa de búsqueda de la barra de menú */
.search-toggle{
  display: none;
}

.mobile .fa-phone,
.email .fa-envelope {
    color: #1ABC9C;
}

/* NOTE: Style logo y barra de navegación */
.navigation .width-logo img{
  margin-bottom: 14px;
  height: 40px;
  width: 40px;
}

/* NOTE: STYLE sidebar idioma */
/* style new WPML */
.wpml-ls-legacy-list-horizontal{
  text-align: right;
}
.wpml-ls-legacy-list-horizontal ul li a span{
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  /* color: #ffffff; */
  text-transform: uppercase;
}
/* Otro idioma */
.wpml-ls-last-item a span, .wpml-ls-first-item a span{
  color: #404040 !important;
}
/* Idioma actual */
.idioma-actual a span{
  color: #404040 !important;
  text-decoration-line: underline;
}

/* Style old polylang */
/*.lang-item{
  list-style: none;
}
.lang-item a{
  color: white;
  font-family: 'Oswald', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
}
.widget.widget_polylang{
  text-align: right;
  margin-right: 50px;
}
.widget.widget_polylang ul li{
  display: inline;
  margin-left: 25px;
  text-transform: uppercase;
} */

/* NOTE: Style login admin - navegación de módulos del curso */
.viewadminbar_admin{
  height: 25px !important;
  margin-top: -6px;
}
/* .viewadminbar_menu{
  top: 10px !important;
} */

/* NOTE: Style visibilidad footer lecciones */
.leccionhide{
  display: none;
}

/* .leccionview_content{
  height: 65% !important;
} */
.leccionview_footer .container{
  margin-top: 45px;
}
/* .leccionview_curriculum{
  height: 65%;
} */

body #course-curriculum-popup #popup-sidebar #learn-press-course-curriculum{
  padding-top: 0px;
}

/* NOTE: Style single course */
/* Mostrar el título del curso en blanco */
.titulo_curso_single{
  color: #ffffff !important;
}
/* Ocultar título del curso de abajo */
article.lp_course h1.entry-title{
  display: none;
}

/* NOTE: Style FAQS preguntas frecuentes */
.titulo_general{
  margin-top: 5%;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #1abc9c;
  text-transform: uppercase;
}
.titulo.plegado::before{
  font-family: 'Font Awesome 5 Free';
  content: '\f078';
  font-weight: 900;
  color: #404040;
  margin-right: 10px;
}
.titulo.desplegado::before{
  font-family: 'Font Awesome 5 Free';
  content: '\f077';
  font-weight: 900;
  color: #404040;
  margin-right: 10px;
}
h3.title_faq_link{
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 24px !important;
  color: #404040;
  cursor: pointer;
}
.mas_preguntas {
  margin-top: 3.5%;
}
.link_mas_preguntas {
  margin-top: 1.5%;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  font-weight: bold;
  color: #404040;
  text-transform: uppercase;
}
.boton_contactar{
  margin-top: 3%;
}
.boton_contactar a{
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  background-color: #404040;
  width: 13.3%;
  padding: 5px 25px 5px 25px;
  cursor: pointer;
}
.boton_contactar a:hover{
  background-color: #1abc9c;
  color: #ffffff;
}
.faq_contenido p{
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #404040;
}

/* NOTE: Style single FAQ preguntas frecuentes */
/* Ocultar migas de pan */
.breadcrumbs-wrapper{
  display: none;
}
/* Ocultar posted */
.entry-meta{
  display: none;
}
/* Ocultar sidebar */
.no-sidebar-faqs{
  display: none;
}
/* Ocultar autor */
.no-autor-faqs{
  display: none;
}
/* Ocultar navegación de posts FAQ Preguntas frecuentes */
.no-navegacion-faqs{
  display: none;
}
/* Eliminar espacio en blanco */
.no-entry-faqs{
  display: none;
}

/* NOTE: Style TE PODRÍA GUSTAR o CURSOS RELACIONADOS (ocultar) */
.thim-ralated-course  {
  display: none;
}

/* NOTE: Style "Dejar un comentario" parte que aparece debajo de ¿Tienes dudas? quieren ocultarla */
/* Ocultar área de comentarios fuera de la navegación del curso */
.oculta_comentarios_fuera_leccion{
  display: none;
}
/* Ocultar visualización de comentarios realizados en general */
.comment-author-alumno{
  display: none;
}

/* NOTE: Style página de cursos (donde se muestran todos los cursos) */
/* Precio */
.price_view ins{
  text-decoration: none;
}

/* NOTE: Style Barra lateral NO logueado */
/* Precio del curso */
.precio_curso_barra{
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 24px;
  color: #404040;
}
/* Botón comprar curso */
.boton_comprar_barra{
  margin-top: 5%;
}
/* Valoraciones del curso */
.valoraciones_curso_barra{
  margin-top: 5%;
}
/* Botón comprar este curso */
.barra_comprar{
  font-size: 20px;
  line-height: 31px;
  background-color: #1abc9c;
  text-align: center;
  padding: 5px;
}
.barra_comprar:hover{
  background-color: #404040 !important;
}
.boton_comprar_curso_barra{
  color: #ffffff;
  text-transform: uppercase;
}
.boton_comprar_curso_barra:hover{
  color: #ffffff;
}
/* Puntos destacados del curso Custom Field */
.destacados_curso_barra{
  margin-top: 5%;
}
/* Check delante del punto destacado */
.punto_destacado::before{
  font-family: 'Font Awesome 5 Free';
  content: '\f00c';
  font-weight: 900;
  color: #1abc9c;
  margin-right: 10px;
}
/* Style texto puntos destacados */
.punto_destacado{
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #404040;
}
/* Botón (si eres alumno accede) */
.boton_acceso_barra{
  margin-top: 10%;
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 1px;
}
.boton_acceso_barra a{
  border: 1px solid #1abc9c;
  padding: 7px 13px;
}
.boton_acceso_barra a:hover{
  color: #1abc9c;
}
/* Texto curso gratis */
.curso_free_barra {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 24px;
  color: #1abc9c;
  margin-bottom: 5%;
}
/* div del precio del curso usuario login */
.precio_curso_login{
  margin-top: -18%;
}
/* div curso free usuario login */
.precio_free_barra_lateral{
  margin-top: -18%;
}
/* Ocultar precio y botón de la barra horizontal */
.course-summary div.course-payment{
  display: none;
}
/* Precio tachado para oferta */
.old_price_course_barra {
  font-family: 'Oswald', sans-serif;
  /* color: #1abc9c; */
  color: #F24C0A;
  font-size: 15px;
  text-decoration: line-through;
}

/* NOTE: Style barra lateral LOGEADO */
.tu_progreso_barra {
  margin-top: -20%;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 24px;
  color: #1abc9c;
  margin-bottom: 5%;
}
/* Representación del porcentaje completado con una barra */
.contenido_porcentaje{
  color: #404040;
}
/* div del botón continuar */
.boton_continuar_barra{
  margin-top: 5%;
}

/* Ocultar progreso de barra horizontal */
.course-progress{
  display: none;
}
/* Ocultar botón continuar de la barra horizontal */
.course-payment form{
  display: none;
}
/* Más cursos en los que está matriculado el usuario */
.listado_mas_cursos_barra{
  margin-top: 10%;
}
/* Título de tus cursos */
.titulo_mas_cursos_barra{
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 24px;
  color: #1abc9c;
  margin-bottom: 5%;
}
/* otros cursos listado */
.contenido_mas_cursos_barra{
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #404040;
}
/* link a de mas cursos */
.mas_cursos_link{
  color: #aaaaaa !important;
}
.mas_cursos_link:hover{
  color: #404040 !important;
}

/* NOTE: Style formulario incio de sesión */
.thim-login.form-submission-login .title{
  font-family: 'Oswald', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 21px;
  line-height: 24px;
  color: #404040;
  text-transform: uppercase;
}

/* NOTE: OCULTAR WIDGETS NO NECESARIOS EN BARRA LATERAL */
/* ESPAÑOL */
#course-categories-2, #courses-5 {
  display: none;
}
/* INGLES */
#course-categories-3, #courses-6 {
  display: none;
}

/* NOTE: Style Barra lateral SI logueado */

/* @media (max-width: 1812px) {
  #main-content{
    margin-top: -2%;
  }
} */

/* @media (max-width: 1602px) {
  .site-header{
    height: 7.6rem;
  }
  #main-content{
    margin-top: -2.2%;
  }
} */

/* @media (max-width: 1568px) {
  .site-header{
    height: 6.6rem;
  }
  #main-content {
    margin-top: -3%;
  }

} */

/* .top_heading_out{
  margin-top: 46px;
} */

/* @media (max-width: 1517px) {
  #main-content {
    margin-top: -3.2%;
  }
} */

/* @media (max-width: 1374px) {
  #main-content {
    margin-top: -2.5%;
  }
} */

@media (max-width: 1200px) {
  .navigation .width-navigation .navbar-nav > li > a{
    font-size: 1.4rem !important;
  }
  /* #main-content{
    margin-top: -1.1rem;
  } */
  .site-header {
    height: 6.2rem;
  }
  .container{
    margin-top: -5px;
  }
  .viewadminbar_menu{
    height: 15%;
  }
  .lessons_admin_bar{
    margin-top: 0px;
  }
}

@media (max-width: 1024px){
  .navigation .width-logo{
    padding-top: 3px;
  }
  .site-header .menu-mobile-effect.navbar-toggle{
    top: 35%;
  }
  .viewadminbar_admin {
    margin-top: 0px;
    height: 33px !important;
  }
  .viewadminbar_logo img{
    height: 34px !important;
    width: 34px !important;
  }
  .viewadminbar_menu {
    top: 0px !important;
  }
  .viewadminbar_fila{
    margin-top: 20px !important;
  }
  body.course-item-popup .lp-single-course #course-curriculum-popup{
    width: 68vw !important;
  }
  /* .leccionview_curriculum{
    height: 69% !important;
  } */
}

/* @media (max-width: 1086px) {
  #main-content {
    margin-top: -3%;
  }
} */

/* @media (max-width: 991px) {
  .site-header.affix{
    height: 6rem;
  }
} */

@media (max-width: 782px) {
  .viewadminbar_admin{
    height: 37px !important;
    margin-top: -1px;
  }
  .viewadminbar_menu {
    top: -1px !important;
  }
}

@media (max-width: 767px) {
  .navigation .width-logo{
    padding-top: 16px
  }
  .viewadminbar_menu {
    top: -2px !important;
  }
  .viewadminbar_fila {
    margin-top: 28px !important;
  }
  .leccionview_curriculum{
    height: 2% !important;
  }
}

@media (max-width: 693px) {
  /* Modificación de margen lateral de texto siguiente */
  .course-item-next{
    margin-right: 5.8%;
    margin-top: -2.9%;
  }
  .course-item-nav::after{
    margin-top: -2.6%;
  }
  /* Modificación de margen lateral flecha siguiente */
  .course-item-nav::after{
    margin-left: 95%;
  }
}

@media (max-width: 687px) {
  .thim-widget-courses-searching .search-course-title{
    line-height: 37px !important;
  }
}

@media (max-width: 668px) {
  /* Modificación de altura de texto anterior */
  .course-item-prev {
    margin-top: -3.5%;
  }
  .course-item-next{
    margin-top: -3.5%;
  }
  .course-item-nav::after{
    margin-top: -3.4%;
  }
}

@media (max-width: 600px) {
  .viewadminbar_admin {
    margin-top: 12px;
  }
  .viewadminbar_menu {
    top: 0px !important;
  }
}

@media (max-width: 546px) {
  /* Modificación de altura de texto anterior */
  .course-item-prev {
    margin-top: -4.3%;
    margin-left: 5.5%;
  }
  .course-item-next {
    margin-top: -5.1%;
  }
  .course-item-nav::after {
    margin-top: -4.8%;
  }
}

@media (max-width: 494px) {
  /* Modificación de altura de texto anterior */
  .course-item-prev {
    margin-top: -4.9%;
  }
}

@media (max-width: 464px) {
  /* Modificación de altura de texto anterior */
  .course-item-prev {
    margin-top: -5%;
  }
  .course-item-next {
    margin-top: -4.9%;
  }
  .course-item-nav::after {
    margin-top: -4.6%;
  }
}

@media (max-width: 430px) {
  .course-item-prev{
    margin-top: -5.7%;
    margin-left: 6.5%;
  }
  .course-item-next{
    margin-right: 6.8%;
    margin-top: -5.9%;
  }
  .course-item-nav::after{
    margin-top: -5.3%;
    margin-left: 94%;
  }
}

@media (max-width: 390px) {
  .course-item-prev {
    margin-top: -6.3%;
    margin-left: 6.8%;
  }
  .course-item-next {
    margin-right: 7%;
    margin-top: -6.7%;
  }
  .course-item-nav::after {
    margin-top: -6.2%;
  }
}

@media (max-width: 367px) {
  .course-item-prev{
    margin-top: -6.8%;
  }
  .course-item-next{
    margin-right: 8.5%;
    margin-top: -7.5%;
  }
  .course-item-nav::after{
    margin-top: -6.9%;
    margin-left: 92.5%;
  }
}

@media (max-width: 337px) {
  .course-item-prev {
    margin-top: -7.1%;
    margin-left: 7.4%;
  }
  .course-item-next {
    margin-top: -7.7%;
  }
  .course-item-nav::after{
    margin-top: -7.1%;
  }
}

@media (max-width: 316px) {
  .course-item-prev{
    margin-top: -7.4%;
  }
}



/* NOTE: cristo */
#learn-press-course-curriculum ul.curriculum-sections .section-content .course-item {
    line-height: 30px;
    padding: 11px 13px 11px 9px !important;
    border-top: 1px solid #eee;
    margin: 0 !important;
    display: flex !important;
    background: inherit !important;
    flex-direction: row;
    align-items: center;
}

#learn-press-course-curriculum ul.curriculum-sections .section-content .course-item a{
      margin-top: 3.5%;
}


#course-curriculum-popup #learn-press-course-curriculum ul.curriculum-sections .section-content .course-item a.course-item-title{
  font-family: 'Open Sans';
text-transform: capitalize;
font-size: 15px !important;
}

.course-item-prev a:hover, .course-item-next a:hover{
  color: #aaaaaa !important;
}

/* NOTE: ocultar barra fixed */

.thim-course-menu-landing{
  display: none !important;
}

.viajesrelacionados{
  margin-top: 7%;
}

.viajesrelacionados .titulo_mas_cursos_barra{
      line-height: 30px;
}

.viajesrelacionados p{
  margin-bottom: 3px;
  font-family: 'Oswald';
}
.viajesrelacionados p a{
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: #aaaaaa !important;
}
.viajesrelacionados p a:hover{
color: #404040 !important;
}
body.course-item-popup #learn-press-course-curriculum .learn-press-breadcrumb .item-name {
    text-align: center;
}

/* NOTE: swich idioma */

.idioma-actual .wpml-ls-link span{
  color: white !important;
}

.meta-left .index {
    color: #666666;
  }

#popup-sidebar #learn-press-course-curriculum ul.curriculum-sections .section-content .course-item .index{
color: #666666 !important;
}

/* NOTE: centrar check curso */
body.course-item-popup #course-curriculum-popup #popup-sidebar #learn-press-course-curriculum ul.curriculum-sections .section-content .course-item .course-item-meta {
    position: initial;
}


.content-item-summary a{
  color: #1abc9c;
}
.content-item-summary a:hover{
  color: #c7c7c7 !important;
}

.review-barra:hover{
  color: #c7c7c7 !important;
}


/* NOTE: pagina de perfil */

.profil{
  display: flex;
align-items: center;
}

.profil .izq{
  width: 25%;
text-align: center;
}
.profil .izq .thim-author-social{
  margin-top: 6%;
}

.profil .der{
  width: 75%;
}

.profil .der .user-information p{
 text-align: justify;
 padding-left: 2em;
 font-family: 'Open Sans';
 color: #404040;
}


@media only screen and (max-width: 768px) {
  .profil {
    display: block;
    align-items: center;
}
  .profil .izq{
    width: 100%;
  }
  .profil .der{
    width: 100%;
  }
  .profil .der .user-information p {
    text-align: justify;
    padding-left: 0em;
}
}
